.footer{
    background-color: #003580;
    color: white;
    position: relative;
    width: 100%;
    font-size: 12px;
    padding: 10px;
}

.fText {
    font-size: 14px;
    text-align: center;
    color: rgb(214, 216, 241);
}

.footerContainer {
    padding: 0px 100px 0px 100px;
}

.fLists{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.fList{
    list-style: none;
    padding: 0;
}

.fListItem{
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
}