.fp{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.fpItem{
    flex: 1;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fpImg{
    width: 30rem;
    object-fit: cover;
    max-width: 600px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.fpName{
    font-weight: bold;
}

.fpCity{
    font-weight: 300;
}

.fpPrice{
    font-weight: 500;
}

.fpRating>button{
    background-color: #003580;
    color: white;
    border: none;
    margin-right: 10px;
    padding: 3px;
    font-weight: bold;
}

.fpRating>span{
    font-size: 14px;
}